# Logger
# default: info  (debug|info|warn|error)
LOG_LEVEL=info
# default: text  (text|json)
LOG_FORMAT=text

# HTTP
# default: 8080
HTTP_PORT=8080
# default: 10s
HTTP_READ_HEADER_TIMEOUT=10s
# default: 10s
HTTP_READ_TIMEOUT=10s
# default: 10s
HTTP_WRITE_TIMEOUT=10s
# default: 10s
HTTP_IDLE_TIMEOUT=10s
# default: 10s
# must be under the platforms kill timer (K8s terminationGracePeriodSeconds, default 30s)
HTTP_SHUTDOWN_TIMEOUT=10s

# DATABASE
# required
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=
DB_SSLMODE=